#icon {
	margin-top: 10px;
}


.material-icons {
	color: black;
	font-size: 24px;
}

input {
	color: black;
}

#inputDiv {
	background-color: white
}

.collection a.collection-item {
	color: black;
}

#headerText, h4 {
    font-family: advent-pro, sans-serif;
    font-size: 60px;
    font-weight: 500;
}

h4 {
	font-family: advent-pro, sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.footerImg {
	height: 50%;
	width: 50%;
}

.sizeBox {
	width: 20%;
}

img {
	width: 100%;
	height: auto;
}

#mainArtist {
	font-size: 14px;
}

#mainArtistRow {
	text-align: center;
}

.jumbotron p {
	font-size: 14px;
}

.footer-copyright {
	font-family: advent-pro, sans-serif;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}

.footerImgSg {
	margin-left: 40px;
}

#similarArtistOne, #similarArtistTwo, #similarArtistThree {
	height: 100vh;
}

#sign-in {
	background-color: #999999;
	color: white;
}

#hisory {
	color: #999999;
}

.similarArtist {
	font-family: advent-pro, sans-serif;
    font-size: 20px;
    font-weight: 300;
	text-align: center;
}

#similar {
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
}

#artistName {
	font-family: advent-pro, sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.collection-item {
	color: #999999;
}

.artistSongs {
	font-size: 10px;
}

a:link {
	font-size: 15px;
	font-weight: bold;
	color: black;
}

.dropdown-content li>a {
	color: black;
	font-size: 14px;
}

img.image-responsive {
	height: 200px;
	width: 220px;
}

a:hover {
	color: #fff176;
}

.input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;