#icon {
	margin-top: 10px;
}


.material-icons {
	color: black;
	font-size: 24px;
}

input {
	color: black;
}

#inputDiv {
	background-color: white
}

.collection a.collection-item {
	color: black;
}

#headerText, h4 {
    font-family: advent-pro, sans-serif;
    font-size: 60px;
    font-weight: 500;
}

h4 {
	font-family: advent-pro, sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.footerImg {
	height: 50%;
	width: 50%;
}

.sizeBox {
	width: 20%;
}

img {
	width: 100%;
	height: auto;
}

#mainArtist {
	font-size: 14px;
}

.jumbotron p {
	font-size: 14px;
}

.footer-copyright {
	font-family: advent-pro, sans-serif;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}

.footerImgSg {
	margin-left: 40px;
}

#similarArtistOne, #similarArtistTwo, #similarArtistThree {
	height: 100vh;
}

#sign-in {
	background-color: #999999;
	color: white;
}

#hisory {
	color: #999999;
}

.similarArtist {
	font-family: advent-pro, sans-serif;
    font-size: 20px;
    font-weight: 300;
	text-align: center;
}

#artistName {
	font-family: advent-pro, sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}