#icon {
	margin-top: 10px;
}


.material-icons {
	color: black;
	font-size: 24px;
}

input {
	color: black;
}

#inputDiv {
	background-color: white
}

.collection a.collection-item {
	color: black;
}

#headerText, h4 {
    font-family: advent-pro, sans-serif;
    font-size: 60px;
    font-weight: 600;
}

h4 {
	font-family: advent-pro, sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.footerImg {
	height: 50%;
	width: 50%;
}

.sizeBox {
	width: 20%;
}

img {
	width: 100%;
	height: auto;
}

#mainArtist {
	font-size: 20px;
}

p {
	font-size: 20px;

}

